* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  color: #FFCA4B;
}

body {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, #222126 0%, #474148  100%);
  background-image: url(assets/backgrouind.jpg);
  background-size: cover;
  backdrop-filter: blur(px);
}